/* TO BE USED LATER */

/* .bg-primary{
  background-color: #D0CECE!important;
}
.text-primary{
  color:  #253862!important;
}
.btn-outline-primary{
  color:  #253862!important;
} */
.card.custom{
  min-height: 24.5rem;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}