/* TO BE USED LATER */

/* .bg-primary{
  background-color: #D0CECE!important;
}
.text-primary{
  color:  #253862!important;
}
.btn-outline-primary{
  color:  #253862!important;
} */

.buttonContact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding: 0rem 3rem !important; */
}

.card.custom{
  transition: transform 0.3s;
  min-height: 23.7rem;
}

.card.custom:hover{
  transform: scale(1.05);
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent!important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px 10px;

  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  transition: all 0.3s;
}
figure {
  background-color: rgb(255, 255, 255);
  display: block;
  height: 0;
  margin: 0 auto;
  position: relative;
  font-size:16px;
  font-size:1vw;
  width: 30em;
  padding-bottom: 20em;
}
figcaption {
  font-size:1rem;
  text-align:center;
  color:#fff;
  width: 100%;
  position: absolute;
  left: 0;
  top:40%;
  z-index:2;
}
svg {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  max-height: 18rem;
}
circle {
  fill:rgba(0,0,0,0);
  stroke-width:31.8309886184;
  stroke-dasharray: 0,0,0,100;
  stroke-dashoffset: 25;
  -webkit-animation: pie1 3s ease both;
  animation: pie1 6s ease both;
}
.pie1 {
  stroke:hsl(180,70%,30%);
}
.pie2 {
  stroke:hsl(180,70%,50%);
  -webkit-animation-name: pie2;
  animation-name: pie2;
    animation-fill-mode: forwards;
}
.pie3 {
  stroke:hsl(180,70%,20%);
  -webkit-animation-name: pie3;
  animation-name: pie3;
  animation-fill-mode: forwards;

}
.pie4 {
  stroke:hsl(180,0%,70%);
  -webkit-animation-name: pie4;
  animation-name: pie4;
  animation-fill-mode: forwards;

}
/*
 pie percentage made by stroke-dasharray.
 stroke-dasharray format is...

 keyframe 100% : 0 offset this-percentage rest

 I added keyframe 50% for infinite presentation.
*/

/* 1st pie is 40% */
@-webkit-keyframes pie1 {
  50%,100% {stroke-dasharray: 40,60,0,0;}
}
@keyframes pie1 {
  50%,100% {stroke-dasharray: 40,60,0,0;}
}
/* 2nd pie is 30% */
@-webkit-keyframes pie2 {
  50%,100% {stroke-dasharray: 0,40,60,0;}
}
@keyframes pie2 {
  50%,100% {stroke-dasharray: 0,40,60,0;}
}

.bullet2 {  
  color: hsl(180,70%,50%);
  font-size: xx-large;
  position: relative;
  left: 7%;
}
.bullet1 {
  color: hsl(180,70%,20%);
  font-size: xx-large;
}


.list {
  position: relative;
  bottom: 12%;
  right: 14%;
  font-size: 16px;  
  color: black;
}

/* for lazy loading of pie chart */
.view{
  display: block;
}
.noView{
  display: none;
}

.circle{
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.S {
  position: sticky!important;
}