/* TO BE USED LATER */

/* .bg-primary{
  background-color: #D0CECE!important;
}
.text-primary{
  color:  #253862!important;
}
.btn-outline-primary{
  color:  #253862!important;
} */

.buttonContact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0rem 3rem !important;
}


.card.custom{
  min-height: 23.7rem;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}